
/****************** VARIABLES ****************/

/************** COLORS *************/
@color-grey: #ccc;
@color-link: #007bff;
@color-light-blue: #007bd3;
@color-background: #2a2624;
@color-light-green: #2fd859;
@color-light-red: #d63a13;
@color-white: #ffffff;
/************** SCREEN SIZES *************/
@col-max-size-xs: 576px;
@col-max-size-sm: 768px;
@col-max-size-md: 992px;
@col-max-size-lg: 1200px;

/************** MISC *************/
@standard-border: 1px solid @color-grey;
@standard-margin: 20px;

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overscroll-behavior-y: contain;
}
h1 {
    border-bottom: @standard-border;
    margin-bottom: 25px;
}
h2 {
    margin-bottom: 15px;
}
.body-content {
    min-height: 90%;
    height: 90%;
}
#drawing-canvas{
    border: @standard-border;
}
.non-game{
    font-size: 18px;
    margin-top: 50px;

    img{
        display: block;
        margin: 100px auto;
    }
}
#in-guessing {
    #drawing-canvas {
        border: none;
    }
}
.canvas-holder {
    padding: 0 2% 0 2%;
}
.centered-text{
    text-align: center;
}
#room-id{
    font-weight: bold;
}
.big-text{
    font-size: 32px;
}
#player-count{
    clear: both;
}
#guessing-answer, #answer-button-holder {
    margin: @standard-margin;

    & > .btn-primary, & > #my-answer{

        margin-bottom: @standard-margin;
    }
}
.floating-btn {
    position: absolute;
    top: 0px;
    padding: 20px;
    font-size: 18px;
    width: 300px;
    color: @color-white;
    background: @color-light-blue;
    border: 3px solid black;
    border-radius: 10px;

    &.incorrect-answer {
        background: @color-light-red;
    }

    &.correct-answer {
        background: @color-light-green;
    }
}
#color-picker {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 10px;
    position: absolute;
    left: 5px;
    top: 5px;
}