@{
    ViewData["Title"] = "Rysuneczki - najlepsza gra imprezowa!";
}

@using DAL.Model
@using Microsoft.AspNetCore.Identity
@model DrawingGame.Models.IndexModel
@inject SignInManager<UserAccount> SignInManager

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form asp-controller="Home" asp-action="JoinRoom">
            <div class="form-group">
                <label for="room-code-join">Nick:</label>
                <input type="text" asp-for="UserName" class="form-control mb-3" id="name" placeholder="Andrzej">
                <label for="room-code-join">Nazwa pokoju:</label>
                <input type="text" asp-for="KeyCode" class="form-control mb-3" id="room-code-join" placeholder="XYZ123">
                <button id="join-room-button" class="float-right btn btn-success">
                    Dołącz
                </button>
            </div>
        </form>
    </div>
</div>
@if (SignInManager.IsSignedIn(User))
{
    <hr/>
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
            <form asp-controller="Home" asp-action="CreateRoom">
                <div class="form-group mt-4">
                    <button id="create-room-button" class="float-right btn btn-primary btn-block">
                        Stwórz grę
                    </button>
                </div>
            </form>
        </div>
    </div>
}
