@{
    ViewData["Title"] = "Rysuneczki - najlepsza gra imprezowa!";
}

@{
    ViewData["Title"] = $"Rysuneczki - {Model.RoomCode.ToUpper()}";
    Layout = "_MasterRoomLayout";
}

@using DAL.Model
@using Microsoft.AspNetCore.Identity
@model DrawingGame.Models.RoomModel

<div id="pre-game" class="centered-text big-text">
    STWORZYLES POKOJ
    <span id="room-id">@Model.RoomCode.ToUpper()</span>
    <div>
        <span id="player-count-pre-game">0</span>/10
    </div>
    <div id="user-names">

    </div>
    <button id="start-game" type="button" class="btn btn-success" disabled>Gramy!</button>
</div>
<div id="timer-count" class="centered-text big-text d-none">
    <div id="current-action"></div>
    <span id="player-count">0</span>/<span id="player-max-count"></span>
    <span id="drawing-timer"></span>
    <div id="answers"></div>
</div>
<div id="in-guessing" class="canvas-holder-master d-none">
    <canvas id="drawing-canvas"></canvas>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/master-game-logic.js"></script>
<script src="~/js/painting.js"></script>
<script src="~/js/master-room-signalr.js"></script>