@{
    ViewData["Title"] = "Rysuneczki - najlepsza gra imprezowa!";
}

@using DAL.Model
@using Microsoft.AspNetCore.Identity
@model DrawingGame.Models.RoomModel

<div class="centered-text big-text">
    STWORZYLES POKOJ 
    <span id="room-id">@Model.RoomCode.ToUpper()</span>
    <div>
        <span id="player-count">0</span>/10
    </div>
    <button id="start-game" type="button" class="btn btn-success" disabled>Gramy!</button>
</div>


<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game-logic.js"></script>
<script src="~/js/room-master-signalr.js"></script>